@use '../helpers/' as *;

.brands-swiper {
        position: absolute !important;
        top: 67.3%;
        display: flex !important;
        align-items: center;  
        flex-direction: column;
        row-gap: 1.5rem;
        width: 100%;      
        user-select: none;
        background-color: rgb(138, 138, 138);
        padding-top: 1.5rem !important;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        @include desktop {
            top: 66.5%;
        }

        @include tablet {
            top: 64.5%;
        }

        @include mobile {
            top: 62.6%;
            padding-top: 1rem !important;
            row-gap: .5rem;
        }

        @include mobile-midle {
            top: 66.1%;
            padding-top: .8rem !important;
        }

        @include mobile-s {
            top: 66%;
            padding-top: 0 !important; 
            row-gap: 0rem;
        }
        .swiper-slide {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: auto !important;
            height: 100px !important;
            
            &__img {
                display: block;
                object-fit: cover;
                
                @include mobile{
                    height: 80%;
                }

                @include mobile-midle {
                    height: 60%;
                }

                }
            }
        
            .swiper-pagination {
                position: static !important; 
                transform: translateX(0) !important;
                
                &-bullet {
                    width: .7rem;
                    height: .7rem;
                    
                    &-active {
                        background-color: rgb(72, 255, 0);
                    }
                }
            }
}

