@use '../helpers/' as *;
.logo {
    position: relative;
    z-index: 5;
    
    &__link {
        display: inline-flex;
        flex-direction: column;  
        font-size: 1.5rem;

        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__name {
        background-color: var(--colorGreen);
        font-family: var(--logoTextFontFamily);
        font-weight: 700;
        padding: .5rem 1.24rem .5rem 20px;
    }

    &__description {
        text-align: center;
        font-family: var(--logoTextFontFamily);
        font-weight: 400;
        font-size: .9rem;
        color: var(--colorGreen);

        @include desktop {
            font-size: .8rem;
        }
    }
} 